.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  text-align: center;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
